body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

svg {}

section {
  width: 960px;
  display: flex;
  flex-direction: column;
}

.description {
  white-space: pre-wrap;
  font-size: 13px;
}

.bar {
  fill: lightgreen;
}

.bar:hover {
  fill: orange;
}

.axis--x path {
  display: none;
}
